<!doctype html>
{% capture now %}{{ "now" | date: "%Y%m%d%H%M%S" }}{% endcapture %}
{% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}

{% assign base = "https://about.rdap.org" %}

{% if site.url == base %}
  {% capture assets %}/assets{% endcapture %}
{% else %}
  {% capture assets %}{{ base }}/assets{% endcapture %}
{% endif %}

<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>{% if page.title != "" %}
    {{ page.title | strip_html }} - {{ site.title | strip_html }}
  {% else %}
    {{ site.title | strip_html }}
  {% endif %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | escape }}">

  {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords | escape }}">
  {% endif %}

  <script src="{{ assets }}/bootstrap.bundle.js"></script>

  {% if page.scripts %}
    {% for script in page.scripts %}
      <script src="{{ script | escape }}"></script>
    {% endfor %}
  {% endif %}

  {% if page.modules %}
    {% for script in page.modules %}
      <script type="module" src="{{ script | escape }}"></script>
    {% endfor %}
  {% endif %}

  <link rel="shortcut icon" href="{{ assets | escape }}/icon.png">

  <link rel="stylesheet" href="{{ assets | escape }}/bootstrap.min.css">

  {% if page.stylesheets %}
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet | escape }}">
    {% endfor %}
  {% endif %}

  {% if page.alternate %}
      <link rel="alternate" type="{{ page.alternate.type | escape }}" href="{{ page.alternate.href | escape }}">
  {% endif %}

  <style>
    nav {
      padding: 0.25em 1em !important;
    }
    footer {
      font-style: italic;
      padding: 1em;
      border-top: 1px solid rgb(204, 204, 204);
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <img class="navbar-brand" style="height: 2em;" src="{{ assets | escape }}/icon.png" alt="[RDAP.ORG]">

    <a class="navbar-brand" href="https://about.rdap.org">
      <span class="text-white font-weight-bold" style="font-size: larger;">RDAP.ORG</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://about.rdap.org">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://client.rdap.org">Web Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://deployment.rdap.org">Deployment Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://validator.rdap.org">Validator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_new" href="https://github.com/rdap-org">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:feedback@rdap.org">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_new" href="https://updown.io/p/ephf0">Status</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <main class="container">
    {{ content }}
  </main>
  <br>
  <footer class="container text-sm-center">
    Copyright {{ year }} {{ site.title }}.
  </footer>
  <script>
    if (window.matchMedia && true === window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.body.setAttribute("data-bs-theme", "dark");
    }

    Array.from(document.getElementsByClassName('nav-link')).forEach(function(a) {
      if (document.location.href.startsWith(a.getAttribute('href'))) {
        a.classList.add('active');
      }
    });
  </script>
</body>
</html>
